[2013-11-15 16:44] m5rk opened #1 "Alias :instance to :env"
Idea from @jfelchner

[2013-11-15 16:45] m5rk opened #2 "Eliminate need to use :instance to access settings"
Idea from @jfelchner

[2013-11-19 14:50] #1 closed, assigned to nobody

[2013-11-19 18:41] #2 closed, assigned to nobody

[2014-01-15 08:12] jfelchner opened #7 "Remove autoloading of credentials files"
A leftover from the previous version.  Now that we automatically encrypt secure settings, there's no reason to extract out a file specifically for secure settings.

[2014-01-15 08:13] jfelchner opened #8 "Add full documentation for all public (and most protected) methods"

[2014-01-15 08:13] jfelchner opened #9 "Verify documentation for existing methods"

[2014-01-15 08:14] jfelchner opened #10 "Add git commit hook which verifies all _secure settings have been encrypted"

[2014-01-15 08:18] jfelchner opened #11 "Figure out a way to secure the YAML files without rewriting the entire thing"
One of the issues with the `secure` command is that it rewrites the entire settings file each time.

The problem is that spacing, alignment and YAML merges (eg: `<<: *my_marker`) are not preserved.

I think we may need to do some sort of substitution while reading through the file instead.  Rewriting the file line-by-line so that all formatting is preserved.

[2014-01-15 08:56] jfelchner opened #12 "Add a `--strict` option to the Heroku push command and the Travis secure command"
[code]

[2014-01-15 08:59] jfelchner opened #13 "Shore up spec coverage"
There are a few methods which, while tested, are not unit tested.

[2014-01-15 09:07] jfelchner opened #14 "Add instructions to the README about Capistrano"

[2014-01-15 09:07] jfelchner opened #15 "Extract most of the README into Wiki pages so that it's not as daunting for newcomers"

[2014-02-28 13:34] frsantos opened #16 "Read also .yml.erb files by default"
Although Chamber processes .yml files through ERB, it should explicitly read by default both *.yml and *.yml.erb files. That way, we can use the syntax highlighting for <%= %> parts that some editors provide for *.yml.erb files.

[2014-03-28 22:16] jfelchner opened #17 "Create a passphrased version of the private key that is emailable during initialization"

[2014-03-28 22:17] jfelchner opened #18 "Add a command to chamber to unencrypt the emailable private key so that it can be used locally without a passphrase"

[2014-05-27 21:58] rf- opened #22 "`secure` command always prints `encrypt KEYNAME` even when the value is encrypted"
This makes it difficult to know in our commit hook whether there are values that need to be encrypted. I'm not sure if there's a workaround or not.

It looks like the issue is that [it iterates through `securable_environment_variables` and examines the values](https://github.com/thekompanee/chamber/commit/13e5c03d64f6ac518a6f985838ccd2675959197b#diff-5ff8d31d5ae766b1528c63f9e13e4adcR12), but the h

[2014-06-29 04:16] #22 closed, assigned to nobody

[2014-07-11 14:51] chrblabla opened #26 "Missing compatibility with Ruby 1.9.2"
The tests for Ruby 1.9.2 don't pass:

[code]

The question remains whether we want to keep this compatibility, or we suggest moving to Ruby 1.9.3.

[2014-07-22 00:45] noahsilas opened #28 "Running without secret key returns encrypted values to application"
Given an encrypted secret,

[code]

If I try to access the secret without having the private key, the encrypted form of the secret is returned:

[code]

Instead of receiving an encrypted value, I would have expected trying to access an encrypted value without a key to raise an error. In my particular case, it was causing one application environment (where the key wasn't deployed correctly) to beha

[2014-07-29 20:19] sds opened #29 "`chamber init` broken"
After running:

[code]

I get the following:

[code]

Something missing from the instructions about how to use this?

Running Ruby 2.1.2 with Chamber 2.3.1

[2014-08-06 21:29] #11 closed, assigned to nobody

[2014-08-07 05:05] #26 closed, assigned to nobody

[2014-08-08 07:11] #29 closed, assigned to nobody

[2014-08-28 22:52] jfelchner opened #31 "When pushing to Heroku/Travis, etc add a --quiet option to suppress variable value output"

[2014-10-18 05:02] jfelchner opened #32 "Add --only-secure option to 'show' to only output secure settings"

[2014-10-22 03:38] jfelchner opened #33 "local host options are not being loaded in rails"

[2014-10-24 06:48] #33 closed, assigned to nobody

[2014-10-24 17:51] #32 closed, assigned to nobody

[2014-10-25 08:26] #31 closed, assigned to nobody

[2014-10-26 20:03] #28 closed, assigned to nobody

[2014-10-26 20:14] #7 closed, assigned to nobody

[2014-10-26 20:20] #10 closed, assigned to nobody

[2014-10-26 20:21] #12 closed, assigned to nobody

[2014-10-26 20:37] #16 closed, assigned to nobody

[2014-10-26 21:47] #17 closed, assigned to nobody

[2014-10-26 21:48] #14 closed, assigned to nobody

[2014-10-26 23:54] #18 closed, assigned to nobody

[2014-10-28 04:45] #15 closed, assigned to nobody

[2015-03-12 08:37] krainboltgreene opened #35 "Couldn't find settings.yml"
[code]

[code]

[2015-03-12 08:39] krainboltgreene opened #36 "Appended weird string to .gitignore"
[code]

[2015-03-17 21:23] moubry opened #37 "Deeper Chamber.to_s"
If you have a YAML file with this content:

[code]

Then `Chamber.to_s` will output:

[code]

It'd be awesome if Chamber outputted keys/values of the hashes inside the movies array too.

[2015-03-23 19:35] jfelchner commented on #35
Fixed in #34 Thanks!

[2015-03-23 19:35] #35 closed

[2015-03-23 19:36] jfelchner commented on #36
Fixed in #34

Thanks!

[2015-03-23 19:36] #36 closed

[2015-08-24 16:35] fabn commented on #14
:+1:

[2015-09-18 14:56] hlogmans opened #38 "data too large for key size"
I had a brilliant idea, using Chamber to contain also the SSL certificate & key encrypted, because I deploy with capistrano including Nginx setup.

But... When using a multiline YML-string, above error pops up. It is an OpenSSL error, because assymetric encryption should only be done on small data (mostly only a symmetric key). Did I overlook an option to make this possible with Chamber, or should

[2015-09-18 16:58] jfelchner commented on #38
Nope there's no hidden option. I'm open to a PR though. :)

[2015-09-19 05:45] hlogmans commented on #38
I'll give it a thought. There is a PKCS-format that does exactly this, but it adds quite some overhead. But standards in security are very valuable and OpenSSL supports this out of the box. But it is probably needed anyway because when I googled the errors, many people were running into this issue with Rails secret tokens that were too long...

[2015-09-22 10:58] hlogmans commented on #38
See #39.

[2015-09-22 16:34] jfelchner commented on #38
@hlogmans excellent! I'll refactor that and get it merged in a few days. 😄

[2015-10-08 09:31] NekoNova opened #40 "latest version breaks Settings class"
Hello,

Using the documentation, we have created a `Settings` class that extends Chamber.

[code]

However, when we upgraded Chamber to 2.8, the following now happens/doesn't work anymore:

[code]

Am I missing something?

[2015-10-26 19:28] jdickey opened #41 "Secure values must be strings?"
Modifying the as-generated `config/settings.yml` file as follows:

[code]

and running `bundle exec chamber init` will create output similar to

[code]

No change to the "_secure_fortytwoish_setting" values will be made. YAML is a *lot* more than just strings-in-hashes; did I miss a note in the documentation that only simple strings are supported?

[2015-10-26 19:32] jdickey opened #42 "CI other than Travis/deployment other than Heroku?"
We've been using CodeShip for our CI for quite some time now, and are extremely loath to switch out simply for a (very nice, admittedly) bit of security automation. How would we go about running our tests without uploading the secret keys? Or did my brain turn into a pumpkin at 0330 without me noticing? We're also planning on deploying to a non-Heroku server, so that's going to be an Issue as well

[2015-10-27 02:37] jfelchner commented on #42
@jdickey most CI solutions have a way to inject environment variables into their builds.

For example, CircleCI does this through their dashboard, Travis does this through the `travis.yml` file.  In the case of Circle, because it's never exposed to the repo, we can put `CHAMBER_KEY` with the value of our private `.chamber.pem` file.  You can do a similar thing with `travis.yml`.  In the case of `t

[2015-10-27 02:45] jfelchner commented on #41
@jdickey yes, YAML does support many things and so does chamber.  You can use the special Ruby regex syntax for regexes, etc, but unfortunately for securing purposes, using RSA encryption requires a string value.  Additionally if it's something you pull from an ENV variable (like if you push to Heroku), those _must_ be strings.

It's technically possible to convert all numbers back into an integer

[2015-10-27 05:35] jdickey commented on #42
Ah, I see; so environment-variable settings get picked up by Chamber and override whatever (encrypted-garbage-without-secret-key) values are specified in the Yaml file? ISTR reading that at some point; apologies for the pumpkinised lack of memory 10 hours ago. I'll go back and read the doc again; assuming you agree that my restated understanding is correct, kindly close the issue. Thanks! :+1:

[2015-10-27 05:37] jdickey commented on #41
true. wasn't thinking things through well enough. note to self: no more opening issues against other folks' repos past 0100 local time :weary:

[2015-10-27 05:37] #41 closed

[2015-10-27 08:33] jfelchner commented on #41
@jdickey no worries! ☺️

[2015-10-27 08:42] jfelchner commented on #42
@jdickey yes that's how it's *supposed* to work. 😉 If you have any issues, lemme know!

This behavior allows you to selectively choose which values (whether secured in the YAML or not) are specified in the environment.

Like, for example, if I'm in production and I have:

[code]

And I'm using those chamber values in my app, then on could theoretically (eg on Heroku):

[code]

And voila, debug log

[2015-10-27 08:46] #42 closed

[2016-02-18 06:40] oozzal opened #44 "Overriding Shared values doesn't work"
I have the following settings in `config/settings/redis.yml`

[code]

But when I access `Chamber.redis`, it gives me the following:

[code]

As you can see, the value of `port` from shared is missing.

From [this](https://github.com/thekompanee/chamber/wiki/Organizing-Your-Settings#full-example) wiki, I can tell that it's a bug and not a feature.

@jfelchner @m5rk

[2016-02-18 07:53] jfelchner commented on #44
@oozzal thanks for the report.  I'll take a look!

[2016-02-18 07:55] jfelchner commented on #44
@oozzal sometimes the `Chamber.` notation acts strangely.  Try: `Chamber.env.redis` and see if that works.

[2016-02-18 08:03] oozzal commented on #44
@jfelchner `Chamber.env.redis` doesn't work either.

[2016-05-12 02:48] jfelchner commented on #40
@NekoNova thanks for the patience.  Things have been hectic around here the last few months.  Are you still having this issue?

[2016-05-12 02:49] jfelchner commented on #37
@moubry thanks for the patience.  Chamber has been working solidly for me and I haven't given it much more attention.  Are you still using it and if so, is this still a problem for you?

[2016-05-12 02:51] jfelchner commented on #44
@oozzal I'm using this notation consistently and it works for me.  Let me try to dig into it a bit more.

[2016-05-12 05:35] NekoNova commented on #40
will have to test this

[2016-05-12 17:47] moubry commented on #37
Thanks for the follow-up. Embarrassingly, I don’t even remember opening this issue. You can go ahead and close it — doesn’t seem like most users have the problem — I certainly don’t anymore.

[2016-05-12 20:03] #37 closed

[2016-05-23 10:51] NekoNova commented on #40
Closing this as no longer relevant.
Successfully upgraded to latest version

[2016-05-23 10:51] #40 closed

[2016-06-13 15:35] bmedici commented on #44
@oozzal seems to be a well-known 'bug' from the YAML parser, when merging already initlalized sections.
Really annoying as we cannot partially initialize some parameters and continue in a deeper config file.
I have mentionnend the bug in some of my projects (eg [rest-ftp-daemon)](https://github.com/bmedici/rest-ftp-daemon) in  Known bugs

[2016-06-13 15:39] bmedici opened #46 "Config files naming"
Hi,

Some projects I'm working on are based on this gem. I'm facing some problems though, probably caused by the great amount of magic everywhere.
When the project name contains an hyphen (let's say my-project), I cannon use Chamber.load files:["my-project.yml"] explicitely, as "project" will me considered as a namespace of "my".
We should be able to specify filenames directly that will not be exp

[2016-08-23 06:39] #38 closed

[2016-08-23 06:42] jfelchner commented on #46
@bmedici you are absolutely right about this in regards to the naming.  Unfortunately changing this would be a fairly large undertaking as well as a large breaking change.  I'm not exactly willing to do that at this point.

FWIW, I almost always either name my settings file `settings.yml` (the default) or add a `settings` directory where I have multiple files each containing one type of configurat

[2016-08-23 06:42] #46 closed

[2016-08-23 06:45] jfelchner commented on #44
@bmedici what specifically is the bug?  I'm doing exactly (or so it appears) what @oozzal is doing in his snippet above and it's working fine for me. :(

[2016-09-15 08:26] zoras commented on #42
@jfelchner I am getting error while using `CHAMBER_KEY` ENV variables in Circle CI.

I used this in my local machine and works well

[code]

[2016-11-03 18:11] Chrisgo-75 opened #47 "Rails Engine - (erb):14:in `<main>': uninitialized constant Chamber (NameError)"
I'm building a Rails Engine to hold database tables (models) that various Rails application need to use. I have included the Chamber gem in my various Rails 4 applications and like it!

Including it with this Rails engine and running rspec tests produces the below:

    (erb):14:in `<main>': uninitialized constant Chamber (NameError)

I am able to successfully install the Chamber gem and encrypt m

[2016-11-03 18:31] Chrisgo-75 commented on #47
If it helps any, will paste below the full output.

[code]

[2016-11-03 21:35] jfelchner commented on #47
@Chrisgo-75 remember that when it comes to engines, your app is actually in `spec/dummy` and your engine is basically a gem, so if you want to use Chamber in your engine, you need to `require 'chamber'` just like any other gem.  Bundler won't do it for you.

If that doesn't solve it for you, I can reopen.

[2016-11-03 21:35] #47 closed

[2016-11-04 14:13] Chrisgo-75 commented on #47
Get a different error when trying to run Rails Console...

@jfelchner Thank you ... in adding `require 'chamber'` in engine.rb resolved the error.

When I cd to `spec/dummy/` and try to open rails console via `$ rails console` I get the following error `Failed to decrypt _secure_db_username (with an encrypted value of...`.  I did re-encrypt my values and I still get the error.

Will paste below th

[2016-11-07 15:17] Chrisgo-75 commented on #47
@jfelchner - Any ideas on what might be the issue on this error "Failed to decrypt _secure_db_username (with an encrypted value of..."?  (above has the full error report).

[2016-11-10 18:56] Chrisgo-75 commented on #47
@jfelchner - problem fixed. Added private key file to dummy app directory ... makes sense.

[2016-12-01 18:22] ace opened #48 "Chambers reciphers already ciphered values (if they are long enough)"
Running `chamber secure` several times results in some values being reciphered in every execution.
If the clear value has at most 119 characters, everything is ok and its ciphered value is not modified. But with a 120 characters string every execution ciphers the previous value.

[2016-12-01 18:49] jfelchner commented on #48
@ace thank you for reporting.  This is a known issue due to the fact that longer values need to use a different cipher style than shorter values.  The typical use case for this is to store a private RSA key as a value encrypted by your Chamber key.

I'll leave this open and I'll try to get to it soon.

[2016-12-01 21:17] ace commented on #48
Thanks for the info, @jfelchner. I'll keep an eye here.

[2017-02-04 07:21] jfelchner commented on #48
@ace this has been fixed in 2.10.0.  Thanks for the patience.

[2017-02-04 07:21] #48 closed

[2017-02-06 08:55] zoras opened #49 "Silence or fix the Hashie Warnings"
"Since the update to Hashie 3.5 the following warning is written to STDOUT when booting our Rails application:"

<details>

[code]

</details>

Read more at: https://github.com/intridea/hashie/issues/394

[2017-02-06 09:02] jfelchner commented on #49
@zoras a PR would be great.  I actually want to remove Hashie from chamber completely at some point.  I'd suggest just locking to hashie 3.4 for now.  I doubt anything depends on the latest version.

[2017-02-06 09:14] jfelchner commented on #49
@zoras additionally, you linked to an issue with omniauth. What in chamber specifically is causing an issue?

[2017-02-06 09:22] zoras commented on #49
@jfelchner I'm not using omniauth. I ran bundle update which updated Hashie, a dependency of Chamber and it logged the warnings to STDOUT multiple times.

[2017-02-09 18:12] #8 closed

[2017-02-09 18:12] #9 closed

[2017-02-09 18:12] #13 closed

[2017-02-09 18:13] jfelchner commented on #48
@ace there was still a small bug where calling `secure` would show that it was going to encrypt it again (even though it didn't actually do it).  This has been fixed in `2.10.1` along with a bug caused by more recent versions of Thor.

[2017-02-09 18:17] ace commented on #48
@jfelchner thanks for the info, and the fix.

[2017-02-10 09:11] coding-bunny commented on #49
This is actually an ongoing discussion in Hashie as well on how to tackle this...
It's really annoying to see your logs flooded with this.

[2017-03-10 13:33] jrmhaig commented on #49
I saw this problem when upgrading Hashie to 3.5.4 but it is fixed (for me, at least) in version 3.5.5.

See https://github.com/intridea/hashie/issues/414 for more details.

[2017-03-10 15:51] jrmhaig opened #51 "Array as environment variable"
If I have an array in my configuration file like:

[code]

is there any way to override this as one or more environment variables? Eg,

[code]

(This doesn't work - I've tried)

[2017-03-10 17:00] jrmhaig commented on #51
I also tried;

[code]

as

[code]

is valid YAML format but this doesn't work either.

[2017-03-10 17:14] jfelchner commented on #51
@jrmhaig have you tried `export ARRAY="red,blue"`?

[2017-03-10 17:19] jrmhaig commented on #51
That sets the value to (literally) `red,blue`

[2017-03-10 17:19] jfelchner commented on #51
I would say that this isn't going to work either but it's worth a shot.  My first thought is that chamber can't assume much about the state of an environment variable.

The most that I'm comfortable doing is boolean conversion.  Even something like "If it's all digits, convert to a number" is problematic because a string may just _happen_ to be all numbers.

[2017-03-10 17:20] jfelchner commented on #51
I think that if something like that were to be added, I'd be open to adding `MY_ARRAY_1` where `1` is the index you'd like to replace or add.  And I believe the proper place for that would be: https://github.com/thekompanee/chamber/blob/master/lib/chamber/filters/environment_filter.rb

[2017-03-10 17:30] jrmhaig commented on #51
Personally, I would expect the environment variables to replace the entire array rather than individual elements. Otherwise it may not be possible to remove unwanted elements.
Another question is what to do with missing indices, such as when `ARRAY_1` and `ARRAY_3` are set but not `ARRAY_2`. I would suggest that the number should give the order but not strictly the index so this would result in a

[2017-03-10 17:38] jfelchner commented on #51
@jrmhaig I'd be ok with the "markdown style" behavior.

chamber doesn't currently look at "the current value from the YAML" of the key and then determine what to do if it finds an environment variable of that same key.  I think that would be an awesome feature, if potentially error-prone.

If you're up for a spike on it, I'd be open to the feature addition.

[2017-03-10 17:39] jfelchner commented on #51
FWIW, I think that "potentially error-prone" is dependent on implementation.  I also think that if done right, it could be _much_ better than even the "boolean conversion" I'm doing.  Because it will be based on actual hard data rather than guessing.

[2017-03-11 23:12] jrmhaig commented on #51
This is far from complete and possibly not the best implementation but is this what you mean?

https://github.com/jrmhaig/chamber/tree/maintain_type

While doing this I saw that `Show` converts an array to an environment variable as:

[code]

(See https://github.com/thekompanee/chamber/blob/master/spec/lib/chamber/commands/show_spec.rb#L22)
There are a couple of problems here:
1. The quotes are no

[2017-03-12 01:12] jfelchner commented on #51
@jrmhaig I'm digging that commit on your branch!

Regarding `show`, it's true that it's not technically "bashified".  Show is more for display only rather than "copy paste this somewhere".

I'm open to the idea of changing the `show` output to be the same format that we'd expect from an environment variable required to override a chamber setting in a YAML file.

Make sense?

[2017-03-12 01:14] jfelchner commented on #51
Also FWIW, the output should _not_ be `ARRAY=("item 1" "item 2" "item 3")` while this is fine for copy-pasting, to make them portable, the environment variables need to only be strings.

[2017-03-14 09:16] jrmhaig commented on #51
I have made a PR - #52

I expect there to be a bit of discussion before merging as I have probably missed something in the internals of Chamber.

[2017-03-14 09:28] jrmhaig opened #53 "Development dependencies require ruby >2.2.2"
Active Model and Active Support version 5 require ruby 2.2.2 or later and so all Travis jobs except the first (2.3.0) fail. This is only a development dependency and so a fix may be to simply fix the version to be 4.

[2017-03-21 07:05] zoras commented on #49
@jrmhaig I tried `chamber` locking to `hasie` 3.5.5 but got same error warnings. I am using my PR https://github.com/thekompanee/chamber/pull/50 which does silence it for now.

[2017-05-26 01:46] ghanima opened #54 "Error due to mising module not being loaded"
## Current Behavior

When running chamber cli commands the following error appears
`rsa_key_passphrase': uninitialized constant Chamber::Commands::Initialize::SecureRandom (NameError)

The above error happes with both init argument and secure argument

This is the full error

      create  .chamber.pem
/usr/local/asdf/installs/ruby/2.4.1/lib/ruby/gems/2.4.0/gems/chamber-2.10.1/lib/chamber/commands

[2018-01-02 07:42] jfelchner commented on #49
@zoras so it turns out that simply changing `default` to `defaults` fixes the warnings.

[2018-01-02 23:47] #54 closed

[2018-01-02 23:48] jfelchner commented on #54
@ghanima thanks for the patience, this'll get released in the next version :)

[2018-01-03 00:01] #53 closed

[2018-01-03 00:05] jfelchner commented on #53
@jrmhaig thanks for the patience and for the report :)

[2018-01-03 00:19] jfelchner commented on #44
@oozzal I finally tracked down what you need to do here.  This is, indeed, as @bmedici mentioned, YAML behavior and nothing specifically that Chamber is doing.

What you'd want to do would be:

[code]

which should get you the result you wanted.

[2018-01-03 00:19] #44 closed

[2018-01-03 07:09] jfelchner commented on #49
Closing this as per the fix and comment [here](https://github.com/thekompanee/chamber/pull/50#issuecomment-354948469)

[2018-01-03 07:09] #49 closed

[2018-01-03 20:34] jfelchner commented on #51
I decided to base the feature on what was discussed here, but got rid of any notion of "replacing a single item in the array" because there were too many edge cases that I didn't want to have to worry about.  There's too large of a surface area for potential bugs.

However...

What I came up with I think will be much better.  Namely that now, if the setting being overridden by an environment varia

[2018-01-03 20:48] jfelchner commented on #51
I also took the liberty of adding some additional functionality which will allow users to unset a value via the environment variables.

You can see the commit message [here](https://github.com/thekompanee/chamber/commit/ab66db79f265cb76c735ad59b86cc98dcf9dccaa)

[2018-01-03 20:48] #51 closed

[2018-01-26 20:51] moofish32 opened #57 "Chamber.keys behavior has changed"
## Current Behavior
Invoking Chamber.keys results in
[code]

## Expected Behavior or New Behavior
return an array of known keys in chamber currently.

This appears to be with new release, but I get errors in many places for all versions > 2.10.2.

Very good chance I grabbed a non-public API here, but curious if you could shed some light on the changes from 2.10.2 to 2.11+ so I can adjust as necess

[2018-01-27 16:39] jfelchner commented on #57
@moofish The warnings are due to Hashie.  You can either change the name of your keys, or you can lock Hashie to a version lower than (I think) `0.50`

[2018-01-27 16:45] jfelchner commented on #57
@moofish32 in the next version of Chamber I'll make that more explicit with an error message that describes exactly what's going on.

[2018-01-27 17:09] jfelchner commented on #57
@moofish32 I was worried about this so I just went ahead and did this and released a new version for you. ;)

The new error message looks something like this:

[code]

[2018-01-27 17:09] #57 closed

[2018-01-29 08:45] zpieslak opened #58 "Namespaces in Rails are not resolved correctly"
One more issue that that come out during the integration with Rails app. Currently I have it fixed within the app, but it would be nice to have it done inside the gem.

## Current Behavior

When using multiple files, with multiple key-pairs in Rails app, the keys are not loaded properly, which leads to `DecryptionFailure`.

### Steps to Reproduce

Suppose I have two files with two-key pairs and I'

[2018-01-29 15:23] jfelchner commented on #58
@zpieslak thanks for the additional report! Can you create a `Rails new` with the minimal amount of stuff necessary to reproduce this?

[2018-01-29 19:39] moofish32 commented on #57
@jfelchner -- thanks for the better error message. I'll try to resolve now. One question should empty string coerce to `false`?  That's now clearly my error. Sorry to comment on a closed issue (I don't think you need to reopen this issue). If we think a change is needed I'd rather spin out a new issue so it's clear to others.

[2018-01-29 22:01] zpieslak commented on #58
@jfelchner Please find the repository [here](https://github.com/zpieslak/chamber-test). I put the instructions in README.

[2018-01-30 01:45] jfelchner commented on #57
@moofish32 `''` absolutely cannot be coerced to `false` because if you have `true` in your YAML and you don't set your ENV variable _at all_ (meaning that you _didn't_ want to overwrite your YAML, converting a `''` to `false` would overwrite your YAML value with `false`.

[2018-04-20 08:46] zoras commented on #49
@jfelchner sorry to bring this up again but even after renaming all the keys same warnings pop-up. These are due to `default` keys being used in other gem's `yml` files being loaded on rails boot (eg. `rails c`) and it is not possible to override these values as they're used by gems internally.

IMHO wrapping `hashie` class as recommended by the author of hashie (in the PR) or moving away from `ha

[2018-04-20 12:44] jfelchner commented on #49
@zoras I’m definitely moving away from hashing but I haven’t had a chance to do it yet. What public gems are using chamber that you can’t access their settings?

[2018-04-25 09:27] zoras commented on #49
[code]

@jfelchner obviously activesupport and other gems use the `default:` key in their yml files.

[2018-04-26 03:56] zoras commented on #49
@jfelchner as you can see above I don't have any `default:` key in my projects yml files. Is there any other reserved YAML `key` besides it?

[2018-04-26 14:09] jfelchner commented on #49
@zoras you’re not understanding what I’m saying. You have a YAML key _named `key`_. Grep your settings files for `key:`.

[2018-04-27 05:10] zoras commented on #49
@jfelchner got it. works now, thanks for your patience and co-operation.

[2018-04-28 16:48] jrochkind commented on #49
Problem with just locking hashie to a certain version, is you might have _other_ dependencies that require a different version, or need bugfixes from a more recent version.

I fully support figuring out a way to remove hashie as a dependency though. Hashie sounds great, but I've had similar forwards-compat problems with it.

[2018-04-30 19:04] jfelchner commented on #49
@jrochkind No worries. Locking to a specific Hashie version is not a solution I'm willing to accept. Especially since we have a workaround for the warnings. But removing Hashie is definitely in the cards.

[2018-06-22 20:39] jrochkind commented on #37
I found this cause I'm interested in hash values in Chamber. Any thoughts?

[2018-06-23 04:44] jfelchner commented on #37
@jrochkind you're going to need to elaborate.

[2018-06-23 15:59] jrochkind commented on #37
Much like the OP, I'm interested in having Chamber keys that are Hash values, or arrays of Hash values. Possibly multiple levels.

[code]

[2018-08-22 15:30] jrochkind opened #59 "Q: Arbitrary Ruby Objects?"
The [matrix comparing chamber to other similar gems](https://github.com/thekompanee/chamber/wiki/Gem-Comparison) has "Allowed Types" section, "Arbitrary Ruby Objects" check next to chamber.

But I can't figure out how you'd provide "arbitrary ruby objects" as a chamber value via the yaml file?  Am I missing something, or misunderstanding what is meant by "arbitrary ruby objects"?

[2018-08-23 18:49] jfelchner commented on #59
Thanks for the question @jrochkind.  It's built into the Ruby YAML parser so just follow any tutorial. :)

http://yaml.org/YAML_for_ruby.html#objects

[2018-08-23 18:49] #59 closed

[2018-08-23 19:58] jrochkind commented on #59
oh that's what you meant? OK, thanks for info.

I'm a bit skeptical that that's really going to work reliably with no pain for any arbitrary ruby object, but I'll play around with it maybe.

[2018-09-06 15:51] ideasasylum opened #60 "heroku push doesn't recognise the --keys option"
## Current Behavior
The `heroku push` command doesn't recognise the keys option

### Steps to Reproduce

Using the instructions on the wiki page: https://github.com/thekompanee/chamber/wiki/CLI-chamber-heroku-push

`chamber heroku push --keys --app=myapp`

Results in the following error:

[code]

## Expected Behavior

It would push the private key to Heroku

## Environment

Gem version: 2.12.3

##

[2018-09-13 17:44] jfelchner commented on #58
@zpieslak I'm going to knock this and your PR out next weekend.  Sorry for the delay!

[2018-09-13 17:53] jfelchner commented on #60
@ideasasylum thanks for bringing this to my attention!  I'll get this knocked out next weekend!

[2018-09-19 07:07] zpieslak commented on #58
@jfelchner OK, looking forward to see the results! I'm currently using own fork, but I would like to use your gem directly.

[2018-11-10 17:43] pmackay opened #61 "Default value when querying property"
## Current Problem
Is there a way to supply a default value when querying a property?
e.g. in the way that ENV.fetch() can be used?

I have somewhat wondered if this could be an anti-pattern, as it scatters defaults across the code where the property is being fetched...

[2018-12-02 09:30] pmackay opened #62 "CircleCI command not supported"
## Current Behavior
The [CircleCI wiki page](https://github.com/thekompanee/chamber/wiki/CircleCI) suggests

`chamber circleci push --keys --api-token="1234567890"`

can be run but it says `Could not find command "circleci"`

### Steps to Reproduce

Run the command in shell.

## Expected Behavior

A key should upload to CircleCI.

## Environment

 - Device:

 - OS:

    - [ ] Windows
    - [x] mac

[2019-04-12 13:04] ideasasylum opened #63 "Customising multiple namespaces…the right way"
## Current Behavior
The [wiki](https://github.com/thekompanee/chamber/wiki/Specifying-Multiple-Namespaces) currently suggests using this code

[code]

but doesn't suggest _where_ that code should go.

### Steps to Reproduce

I originally placed the code in an initializer but this introduced subtle bugs because the `environment/*.rb` files are loaded _before_ the `config/initializers/*`. This meant

[2019-04-13 18:30] jfelchner commented on #63
@ideasasylum this is awesome!  I obviously didn't think about this use case when writing that wiki entry.  I'll update it with more information.

Thanks!

[2019-05-29 18:16] jfelchner commented on #63
@ideasasylum I've added this to the wiki.  Just as a heads up, if I were you I'd _add_ the domain in the loader rather than overriding the hostname.  You can have as many namespaces as you want and if you leave the hostname in there, it will continue to allow individual developers to have their own local overridden settings.

[code]

Thanks again!

[2019-05-29 18:16] #63 closed

[2019-05-29 18:26] jfelchner commented on #61
@pmackay firstly, all Chamber settings are just technically hashes, so you can do `::Chamber.env.foo.fetch('bar', 'baz')` just like you would with `ENV`.

Secondly, if you wanted defaults in one spot, I would use YAML's anchors to do this in the YAML file itself and not in code.

It's pretty easy to [configure defaults for your different namespaces](https://github.com/thekompanee/chamber/wiki/Defi

[2019-05-29 18:26] #61 closed

[2019-05-29 18:27] jfelchner commented on #61
Also, sorry for the delay on the reply!

[2019-05-29 18:33] jfelchner commented on #63
@ideasasylum can you verify that:

[code]

also works?  I'm pretty sure that will stop Chamber from loading twice.

[2019-05-29 19:41] jfelchner commented on #58
@zpieslak this was a MAJOR issue and I'm mad that it took me this long to get this fixed.  This will go out in the next release (probably later tonight).

Thanks again for reporting this (and the patience).

[2019-05-29 19:41] #58 closed

[2019-05-29 20:55] ideasasylum commented on #63
yeah, I tried it on 2.12.3 and it still appears to load Chamber twice. I don't know you can replace an initializer that's already been loaded. At least, I haven't found a way

[2019-05-29 21:10] jfelchner commented on #63
@ideasasylum Ok. That's unfortunate. 🙁  Thanks for replying back.

[2019-05-30 02:32] jfelchner commented on #60
@ideasasylum sorry for the wait.  Hopefully it was worth it. ;)

Merged in 4c7bb3f

[2019-05-30 02:32] #60 closed

[2019-05-30 22:31] jfelchner commented on #62
@pmackay This will be released as `2.13.0` shortly.  Please let me know if it works as expected. :)  And sorry for the delay!

[2019-05-30 22:31] #62 closed

[2019-07-16 17:16] Chrisgo-75 opened #65 "Chamber isn't encrypting but is removing the quotes around strings"
## Current Behavior
I have a Rails engine that I am upgrading from Rails 4.2 to Rails 5.2 and Chamber is no longer encrypting the variables within settings.yml

I have made a simple Rails engine that shows what is happening if you were to run "chamber secure".

Repo of Rails Engine representing the issue
`git clone https://carndt1450@bitbucket.org/carndt1450/fivetwo.git`

### Steps to Reproduce

1

[2019-07-16 21:41] jfelchner commented on #65
@Chrisgo-75 a repro repo helps out a ton! Thanks! 🙏

I'll take a look at this in the next week-ish and see what I can see. :)

Sorry about the trouble!

[2019-08-05 19:40] Chrisgo-75 commented on #65
Was able to solve the issue by placing `.chamber.pub.pem` into `/spec/dummy/`.

[2019-08-05 19:40] #65 closed

[2019-08-08 22:40] jfelchner commented on #65
@Chrisgo-75 yes, the dummy dir is the root of the project for the dummy app and therefore that's where the keys need to be placed.

[2019-08-13 13:42] aspiers opened #66 "how to use with Heroku alternatives such as Dokku / Flynn?"
Congratulations on a great project!  I only just discovered it, and am very impressed by the quality of the design and documentation, and glad that someone had the sense and courage to point out the flaws in the 12-factor approach to configuration.  Not sure how they managed to conclude that overloading the environment was a good idea ... oh well.

Anyway, [the Heroku support](https://github.com/t

[2019-08-14 03:39] jfelchner commented on #66
@aspiers thank you for the kind words ☺

For your first question, the answer lies on [this wiki page](https://github.com/thekompanee/chamber/wiki/Loading-Keys-From-Environment-Variables)

You just have to define an environment variable with the private key, and Chamber will pick it up automatically.

For your second question, in order to load specific namespaces at runtime based on other custom lo

[2019-11-05 17:23] petrosp opened #68 "Chamber minimal requirements"
Hey guys,

Before anything else, you are impressive! I would claim that you have nailed the configuration management at least for the rubyists out in the wild. It is a shame that ruby-toolbox lists `chamber` after the first three entries...

I have bumped into some issues related to `chamber secure` and before I open a bug issue, I'd seek for some clarifications if possible:

I bundled `chamber` i

[2019-11-05 20:29] petrosp commented on #68
Nothing new, closing...

[2019-11-05 20:29] #68 closed

[2019-11-05 21:50] #66 closed

[2020-02-19 09:34] mobilutz opened #69 "All builds failing in Travis CI"
I was wandering, why almost all of `chambers` builds are failing on Travis CI:
https://travis-ci.org/thekompanee/chamber/branches

I think it is, because there are some settings missing on Travis.
I wonder, why you use a CI, that does not run at all.

Not that you understand me incorrectly, I do very much like `chamber`, I am concerned that a 🔴 CI will be interpreted by some people that this gem i

[2020-04-17 09:45] BKSpurgeon opened #70 "Q: staging settings deployed to a staging app in heroku?"
Hi there

Thank you for this work: it is very clear to me that a lot of thought and effort has gone into the gem and also the documentation is very, very good <3

A question that I have:

[code]

* From what I read, chambers will pick up whether i am in the development, test and production environments, and load the appropriate key-values. But what about staging? There is a `staging` namespace abo

[2020-04-24 05:18] BKSpurgeon commented on #70
Hi all

Thank you for this gem.

Was hoping for some advice: I am seeking to load up the `staging` settings on a heroku app (the rails environment will be `production` but I would still want the `staging` namespace settings to be used). The problem is that the production settings are being used by the app, instead of the 'staging' settings.

Here's what I've tried:

#66

1. I created a CHAMBER_STA

[2020-05-21 04:42] BKSpurgeon commented on #70
Here's how i hacked out a solution for anyone who's interested:

[code]

[2020-06-05 08:14] dali546 opened #71 "extended Chamber class does not load custom initializer/namespaces"
## Current Behavior
https://github.com/thekompanee/chamber/issues/63 outlines how to define custom namespaces which I have done. However when I extend the Chamber module
[code]
`Settings` does not load the keys defined in my custom namespaces

### Steps to Reproduce

[code]
[code]

When I have CUSTOM_NAMESPACE set to 'bar', I get the following output
[code]
## Expected Behavior
I expect Settings c

[2020-06-08 23:15] jfelchner commented on #70
@BKSpurgeon the only thing you have to do is make sure that `RAILS_ENV` on your Heroku app is set to `staging` and that's it.  Chamber will load `staging` namespace keys.  No other hacks are necessary.

To get `staging` to behave like `production` with overrides, you just create a `config/environments/staging.rb` which has a `require 'config/environments/production'` at the top of it.

[2020-06-08 23:15] #70 closed

[2020-06-08 23:15] jfelchner commented on #70
Also thank you for the compliments. :)

[2020-08-28 12:23] veverkap opened #72 "undefined method `env' for Chamber:Module - Rails 6"
## Current Behavior
Trying to use Chamber in a Rails initializer and the Rails application will not boot.

[code]

### Steps to Reproduce
1. Create a new Rails app (rails new blah)
2. Add `gem "chamber"` to Gemfile
3. bundle install
4. Add call to `Chamber.env.setting` in an initializer
5. Run local server `rails s`
6. App go boom

## Expected Behavior
I thought that the chamber secrets would be a

[2020-09-10 10:43] mobilutz opened #73 "Possible upgrade of `thor` dependency?"
## Current Problem

We cannot update our development dependency `license_finder` right now, as their `thor` dependency collides with the `thor` dependency from chamber.

license_finder:
https://github.com/pivotal/LicenseFinder/blob/master/license_finder.gemspec#L48

chamber:
https://github.com/thekompanee/chamber/blob/master/chamber.gemspec#L32

## Potential Solution or New Behavior
Upgrade chambe

[2020-09-10 10:57] mobilutz commented on #73
I created a small repo, showing the problem:
https://github.com/mobilutz/chamber-license_finder-bug

[2020-09-21 22:21] jfelchner commented on #73
@mobilutz I will definitely update this to fix it to work with later versions of `thor`.  If I remember there was a backwards incompatible change, but at this point there's no reason I should be using such an old version.  I just haven't had time to update the gem.

Thank you for bringing it to my attention.

[2020-09-21 22:29] jfelchner commented on #72
Ugh.  Rails and backwards incompatibility. 😂

I appreciate you taking a look at this and for the reproduction.  I'll try to take a gander at this and get it fixed.

[2020-09-21 22:30] jfelchner commented on #72
Also sorry it took so long for me to see this!

[2020-10-19 08:32] drselump14 commented on #72
Hi guys, is there any progress or workaround with this issue? any help would be appreciated

[2020-10-22 00:57] drselump14 commented on #72
@veverkap Hi, do you know a workaround to address this issue?

[2020-10-22 13:01] veverkap commented on #72
Nope, I ended up not using Chamber.

[2020-10-23 09:39] drselump14 commented on #72
Thank you for the reply!!  That's unfortunate.. I think this gem is the
best solution for rails configuration

--
slamet kristanto

On October 22, 2020 at 22:01:35, Patrick Veverka (notifications@github.com)
wrote:

[2020-10-24 12:35] drselump14 commented on #72
Rails  6.0 using zeitwerk for default, that's probably causing the issue

[2020-10-31 02:04] jfelchner commented on #72
Sorry all, I've had some other things came up.  I'll work on it this weekend.

[2020-10-31 07:11] drselump14 commented on #72
Great! Thanks Jeff

On 2020/10/30 19:05, Jeff Felchner wrote:

[2020-11-03 02:06] jfelchner commented on #72
Worked on this a bit but didn't quite get there, but I'm on it.

[2020-12-07 20:23] pcreux commented on #72
Just ran into the same issue. `chamber` requires `thor (>= 0.19.1, < 0.21)` while rails 6 requires `thor (>= 0.20.3, < 2.0)`. So `bundler` happily installed `chamber v0.0.1` since it's does not require a specific version of thor – but it's blank.

So this issue is definitely related to https://github.com/thekompanee/chamber/issues/73.

`chamber` looks awesome but I'll have to find an alternative d

[2020-12-17 03:09] benkoshy commented on #69
Travis are now charging for Open Source projects - this might be the reason why?.

It might be better for Chamber to switch over to Github actions for their CI builds.

[2020-12-22 22:12] jfelchner commented on #72
@pcreux updating thor is not a simple matter as the thor integration chamber uses was broken in `thor < 0.21`. I'm currently working on it, but we all have day jobs.

[2020-12-22 22:13] jfelchner commented on #69
I'm going to be switching to Github actions this week. ;)

[2020-12-28 22:59] jfelchner commented on #69
@mobilutz alas there is only so much time in the day. :) Build status aside, the gem works as expected with the exception of a large issue running it on Rails 6 which I am about to rectify.  The first step was getting the repo on Github Actions which has just been accomplished.  Once the Heroku rate limit drops down, the build will be passing.

[2020-12-28 22:59] #69 closed

[2020-12-28 23:10] jfelchner commented on #72
@pcreux additionally if `thor` was the dependency problem, then it should have installed it with `0.20.3` since that matches both `chamber` as well as `rails`.  My guess is that there's something else that's the problem and not the `thor` dependency.

Regardless, I'm still upgrading Chamber to work with later versions of `thor`.

[2020-12-28 23:23] pcreux commented on #72
@jfelchner Right, 0.20.3 should have worked... 🤔

Isn't chamber sponsored by TheKompanee? 🙂

Thank you for your hard work on this project.

[2020-12-29 18:08] jfelchner commented on #73
This is going out in the next release.  It will be compatible with the same `thor` versions as Rails is: https://github.com/thekompanee/chamber/blob/master/chamber.gemspec#L34

[2020-12-29 18:08] #73 closed

[2020-12-29 21:22] jfelchner commented on #72
@veverkap your sample app is using `chamber` version `0.0.4`.  The latest version is `2.13.1`.  When you use the latest version, it works fine.

[2020-12-29 21:22] #72 closed

[2020-12-29 21:30] jfelchner commented on #72
To be more clear, you and @pcreux had the same issue because you were only trying to update `chamber`.  Instead you should have been updating `chamber` AND `thor`, which would have set the version to `thor` `0.20.3`.

So @pcreux the issue wasn't with Chamber after all, you can take back your "unmaintained" comment now. ;)

@veverkap The diff you can apply to your sample app is as follows:

[code]

[2020-12-29 21:31] jfelchner commented on #72
The next version of `chamber` will be compatible with `thor` `0.19.x` through `2.0`.

[2020-12-29 22:47] jfelchner commented on #71
This is because, when you're extending `Chamber`, you have a brand new class, so what you would want to do is:

[code]

Note: It's `Settings` not `Chamber`.

Let me know if this solves your problem.

[2020-12-29 22:50] jfelchner commented on #71
I would also put it inside an `initializer` block instead of sitting raw in the class like that:

[code]

[2020-12-29 22:50] #71 closed

[2020-12-29 23:23] jfelchner commented on #72
`chamber` `2.14.0` has been released: https://rubygems.org/gems/chamber/versions/2.14.0

[2020-12-29 23:23] jfelchner commented on #73
`chamber` `2.14.0` has been released: https://rubygems.org/gems/chamber/versions/2.14.0

[2020-12-30 04:56] pcreux commented on #72
@jfelchner That's fantastic!

I didn't want to offence you with my comment - just wanted to share the reason why I wouldn't use this gem if that was of any importance for the company sponsoring the project.

[2020-12-30 05:54] jfelchner commented on #72
hahaha no worries.  I'm glad you find it useful. :)

[2020-12-31 02:24] jfelchner commented on #72
Additionally I just release 2.14.2 which has all the deprecation warnings for 3.0.0.  I also just released 3.0.0-rc1.  You can get upgrade notes here: https://github.com/thekompanee/chamber/wiki/Upgrading-To-Chamber-3.0

[2021-02-02 00:28] benkoshy opened #75 "Allow Wiki to be editable by the public"
Current Problem
--------------------------------------------------------------------------------

* Maintenance of documentation by repository owner may be onerous.
* Many individual developers may face problems/shortfalls in the documentation (with the utmost respect) which cannot be fixed via PRs, and are quite cumbersome to open up issues etc.

Potential Solution or New Behaviour
--------------

[2021-02-02 03:58] jfelchner commented on #75
Hey @benkoshy.  I'm not going to do that because I want to be able to approve changes prior to making them public, but feel free to attach the content you would like to an issue and I'll be happy to review and integrate into the Wiki!  I'll even add your username to the edit so you can get some good karma. :)

[2021-02-02 10:40] benkoshy commented on #75
@jfelchner as soon as i get gihub actions working for my app I'll create the documentation for this repo (chamber)..... that might take some time......... before i can have another attempt at it.

[2021-02-03 04:52] jfelchner commented on #75
@benkoshy feel free to look at the github actions in this repo.  I added builds and linting a few weeks ago.

[2021-05-03 01:35] benkoshy commented on #75
@jfelchner

Finally got around to doing this - apologies for the delay. Here is what I would have added to the Wiki under Github actions vs Travis etc:

If you want to use Chamber with Github Actions, and run tests which relies on chamber secrets, how would you do this? Here is an example which demonstrates the problem:

[code]

They trick is to let github know about your secret key - you can add

[2021-05-12 02:00] jfelchner commented on #75
Awesome!  I will add this soon!  ❤

[2021-09-02 04:16] jfelchner commented on #75
Added! https://github.com/thekompanee/chamber/wiki/Github-Actions

Also gave you credit at the bottom of the page. :)

[2021-09-02 04:16] #75 closed

[2022-05-19 17:05] UsAndRufus opened #76 "chamber heroku compare fails with 'missing keyword :keys_only'"
Current Behavior
--------------------------------------------------------------------------------
In the first scenario, I run the compare command get an error about `missing keyword :keys_only`. In the second scenario, I try running the command again with `--keys-only` and get an error saying `--keys-only` is not recognised. Either of these options should work

### Steps to Reproduce Scenario 1

[2022-05-20 13:45] UsAndRufus opened #77 "chamber secure --resecure no longer works"
Current Behavior
--------------------------------------------------------------------------------
`chamber secure --resecure` is described on [this page of the docs](https://github.com/thekompanee/chamber/wiki/Namespaced-Key-Pairs#re-secure), linked from [this page](https://github.com/thekompanee/chamber/wiki/Re-Securing) on re-securing. It seems like a helpful feature for my use case - rotating t

[2022-05-20 15:34] UsAndRufus commented on #77
I've tried a workaround by:
1. Renaming all keys
2. Regenerating keys using `chamber init`
3. Running `chamber secure` using the optional decrypt/encrypt key flags to decrypt with old key and encrypt using new key: `chamber secure --decryption-keys=/Users/ed/dev/app/.chamber_old.pem --encryption-keys=/Users/ed/dev/app/.chamber.pub.pem`

However, this doesn't work. Please could you advise how to ha

[2022-05-24 22:23] ideasasylum commented on #77
It sounds like this will be useful with the Heroku breach potentially requiring re-securing of all keys. It seems like this feature hasn't actually been implemented yet so perhaps we can reconsider the best approach?

I'm wondering if `chamber resecure` would be preferable to `chamber secure --resecure`. Or, perhaps, a `chamber unsecure` command which simply decrypts all existing keys. This might

[2022-05-27 09:33] ideasasylum opened #78 "[Wiki] Incorrect flags for CLI"
The [wiki page for the CLI](https://github.com/thekompanee/chamber/wiki/CLI-Overview) lists options for `encryption-key` and `decryption-key`. This is incorrect. The actual flags are the plural `encryption-keys` and `decryption-keys`. The description also gives an example of `--keypair` which is not a valid option.

### Screenshot

<img width="921" alt="image" src="https://user-images.githubuserco

[2022-06-17 11:21] ideasasylum commented on #77
To follow up: I did take a stab at this and I think I have something working but I can't get the test suite to pass locally, even on `master`. Perhaps I'm missing a key or something @jfelchner?

These are the failing specs for me:

[code]

all with errors like

[code]

[2022-06-17 13:41] UsAndRufus commented on #77
Do you have a PR/branch @ideasasylum? I could take a look. Did you add/change Heroku functionality? Because I actually couldn't get those commands to work either when I originally tried to sort all of this last month (see issue #76)

[2022-06-18 15:51] ideasasylum commented on #77
@UsAndRufus I've added a draft PR you can take a look at. It's working for me but it's hacky (I've no idea what I'm doing with the Settings filters) and I haven't added any tests.

[2022-06-20 20:04] jfelchner commented on #77
Hey all!  This has been on my list for quite a while but I think I'll actually get finished with it this year at some point.  Give me a couple more months and we'll see where we are.  I would suggest making sure you're upgraded to the latest Chamber 2.x version which will give you deprecations since this feature will only be implemented on the 3.x branch.

The primary change has been to [consolida

[2022-06-20 20:08] jfelchner commented on #77
@ideasasylum I agree that as a "go small" simply adding a command to decrypt all values may be good enough since you can just re-run `chamber secure`.

[2022-06-20 20:10] jfelchner commented on #77
Also just in case you all weren't aware, chamber will allow you to setup a different key per namespace.  Therefore you can have a separate keypair for staging/production.  If one is compromised, you don't have to reset all keys everywhere.

[2022-06-20 20:21] jfelchner commented on #76
@UsAndRufus I'll be the first to admit the Heroku command has not gotten much love lately.  This is because, if you set the `CHAMBER_KEY` environment variable, you can just deploy your chamber settings themselves with the code and there's no need to set Heroku's environment variables.  Obviously this is not 100% accurate if you want chamber to be able to set something like `DATABASE_URL` but since

[2022-06-20 20:31] jfelchner commented on #78
@ideasasylum thank you!  This must've gotten missed when I added multi-key support to chamber.  I'll leave this open and resolve this the next chance I get.

[2022-06-20 21:07] ideasasylum commented on #77
Let me know if you need any help on v3 or early testers. Looking forward to getting rid of Hashie from our app!

[2022-06-20 21:08] ideasasylum commented on #77
This is actually what I'm doing now to restrict the blast radius the next time this happens

[2022-11-06 21:05] jfelchner commented on #77
@UsAndRufus @ideasasylum I have time blocked out in December for this.  I haven't forgotten about this or #79